__pycache__/workbench.cpython-36.pyc
__pycache__/descriptions.cpython-36.pyc
__pycache__/initialize_dungeon.cpython-36.pyc
__pycache__/items.cpython-36.pyc
__pycache__/money.cpython-36.pyc
__pycache__/rooms.cpython-36.pyc
__pycache__/weapons.cpython-36.pyc
__pycache__/help_strings.cpython-36.pyc
